html,body{font-family:"Lato Light",sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"lato",sans-serif;font-weight:400;margin:10px 0}.wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #c6c0c0;}

.vividBlue ,.hover-amber:hover{color:#000!important;background-color: #3c51b7 !important}
.vividGrey ,.hover-amber:hover{color:#000!important;background-color: #c6c0c0 !important}
.vividDarkBlue ,.hover-amber:hover{color:#000!important;background-color: #151724 !important}
.text-white,.hover-text-white:hover{color:#fff!important}
.text-grey,.hover-text-white:hover{color: #c6c0c0 !important}
.text-blue,.hover-text-white:hover{color: #3c51b7 !important}

.hero-image {
    background-image:
            linear-gradient(to top, transparent, 80%, rgb(0, 0, 12)),
            url("assets/hero.jpg");
    background-color: #cccccc;
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: 75%;
}
.padding-left {
    padding-left: 32px;
}
ul{
    padding-top: 16px;
    list-style: none;
}
li{
    padding-top: 16px;
    padding-bottom: 16px;
}
li:before {
    content: "\f054"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
}
hr{
    margin: 0px;
    color: #607d8b;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex-coloumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px
}
.padding-top{
    padding-top: 16px;
}
.space{
    margin: 10vw;
}
.margin-bottom{
    margin-bottom: 10px;
}
.bryano-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
@media only screen and (min-width: 1240px) {
    body {
    }
    .hero-image {
        background-image:
                linear-gradient(280deg, transparent, 65%, rgba(14, 14, 14, 1)),
                url("assets/hero.jpg");
        background-color: #cccccc;
        height: 55vh;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        background-position: 75%;
    }
    .flex-column{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px
    }


}
@media only screen and (min-width: 1200px) {

    .footer-flex-row{
        display: flex;
        flex-direction: row;
    }
    .bryano-logo{
        display: block;
        margin-left: 0;
        margin-right: auto;
        width: 50%;
    }

}


